name: Mail Only Test
env:
  REPO_NAME: ${{ github.repository }}
  SMTP_SERVER: mail.abix.info.pl
  SMTP_PORT: 465
  SMTP_USER: alx-kurs@abix.info.pl
  SMTP_PASS: ${{ secrets.SMTP_PASS }}
  MAIL_TO: adam@jurkiewicz.tech

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  send_mail:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install msmtp
        run: sudo apt-get update && sudo apt-get install -y msmtp

      - name: Send email
        run: |
          echo -e "Subject: GitHub Actions - $REPO_NAME\n\nsuccessful\nRepository: $REPO_NAME" | \
          msmtp --host=$SMTP_SERVER --port=$SMTP_PORT --auth=on --user=$SMTP_USER --passwordeval="echo $SMTP_PASS" --from=$SMTP_USER --tls=on --tls-starttls=on $MAIL_TO
